body {
  background-color: transparent;
  box-sizing: border-box;
  transition: background-color 0.1s ease-in-out;

  &.overlay {
    background-color: rgba(0, 0, 0, 0.3);
    transition: background-color 0.7s ease-in-out;
  }
}

.template {
  box-sizing: border-box;
  height: 100%;
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 1.5em;
}

.page {
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  max-height: calc(100vh - 3em);
  max-width: calc(100vw - 3em);
  overflow: hidden;
  padding: 2.5em 1em;
  position: absolute;
  top: 50%;
  transition: transform .5s cubic-bezier(0.8, 0, 0.2, 1);
  width: calc(100vw - 3em);

  &--current {
    transform: translate(0, -50%);
  }

  &--previous {
    transform: translate(-300vw, -50%);
  }

  &--next {
    transform: translate(300vw, -50%);
  }

  &__image {
    max-height: 25vh;
    max-width: 100%;
    margin: 0 0 1em;
    position: relative;
  }

  &__close {
    cursor: pointer;
    height: 20px;
    position: absolute;
    right: 1em;
    top: 1em;
    width: 20px;
    z-index: 2;

    svg {
      height: 20px;
      width: 20px;
    }
  }

  &__info {
    overflow: auto;
    position: relative;
    width: 100%;

    &__title,
    &__body {
      align-items: center;
      display: flex;
      flex: 100%;
      justify-content: center;
      text-align: center;

      span {
        line-height: 25px;
        word-break: break-word;
      }
    }

    &__title {
      font-size: 20px;
      font-weight: 600;
    }

    &__body {
      color: #777777;
      line-height: 20px;
      margin-top: 1em;
    }

    &__buttons {
      margin-top: 2em;
    }
  }

  &__pageNumber {
    bottom: 1em;
    font-weight: 600;
    left: 50%;
    position: absolute;
    text-align: center;
    transform: translateX(-50%);
  }
}

.surveyButton {
  align-items: center;
  border-radius: 20px;
  border: 1px solid;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  height: 40px;
  justify-content: center;
  margin-bottom: 10px;
  text-align: center;
  padding: 5px 10px;

  span {
    line-height: 20px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.deeplinkFrame {
  background-color: #FFFFFF;
  height: 100vh;
  position: absolute;
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
  width: 100vw;
  z-index: 1;
}

@supports(padding-top: constant(safe-area-inset-top)) {
  .template {
    padding-top: calc(1.5em + constant(safe-area-inset-top));
    padding-bottom: calc(1.5em + constant(safe-area-inset-bottom));
  }
}

@supports(padding-top: env(safe-area-inset-top)) {
  .template {
    padding-top: calc(1.5em + env(safe-area-inset-top));
    padding-bottom: calc(1.5em + env(safe-area-inset-bottom));
  }
}

@media only screen and (orientation: landscape) {
  .template {
    justify-content: center;
    align-items: unset;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
  }

  .page {
    flex-direction: row;
    height: calc(100vh - 3em);
    left: 50%;
    max-width: calc(100vw - 3em);
    padding: 2.5em;
    top: unset;
    width: auto;

    &--current {
      transform: translateX(-50%);
    }

    &--previous {
      transform: translateX(calc(-300vw - 50%));
    }

    &--next {
      transform: translateX(calc(300vw - 50%));
    }

    &__image {
      margin: 0 1em 0 0;
      max-height: 100%;
      max-width: 25vw;
      position: relative;
    }

    &__info {
      margin-bottom: 0;
      max-height: 100%;
      max-width: calc(75% - 6em);
      position: relative;
      width: max-content;

      &__body,
      &__buttons {
        margin-top: 1em;
      }
    }
  }

  @supports(padding-top: constant(safe-area-inset-top)) {
    .template {
      padding-left: calc(1.5em + constant(safe-area-inset-left));
      padding-right: calc(1.5em + constant(safe-area-inset-right));
    }

    .page {
      max-width: calc(100vw - 3em - constant(safe-area-inset-left) - constant(safe-area-inset-right));
    }
  }

  @supports(padding-top: env(safe-area-inset-top)) {
    .template {
      padding-left: calc(1.5em + env(safe-area-inset-left));
      padding-right: calc(1.5em + env(safe-area-inset-right));
    }

    .page {
      max-width: calc(100vw - 3em - env(safe-area-inset-left) - env(safe-area-inset-right));
    }
  }
}

/* Tablets */
@media only screen and (min-width: 1024px) and (min-height: 768px) {
  .surveyButton {
    margin: 0 auto 10px;
    max-width: 400px;
  }

  .template {
    justify-content: center;
  }

  .page {
    margin: 0;
    padding: 3em 6em;
    width: auto;
  }
}

@media only screen and (min-width: 1024px) and (min-width: 768px) and (orientation: landscape) {
  .page {
    height: auto;
    padding: 6em 3em;

    &__info {
      &__body {
        max-width: 450px;
      }
    }
  }
}
