*/node_modules
/.tmp
/.tmp.old
/temp
*/dist
/dist.old
.sass-cache
*~
.DS_Store
.bundle
.env
tags
tags.lock
tags.temp
npm-debug.log
/lib/node_modules/*
!/lib/node_modules/.gitkeep

# IDE configs
# Ignore all from idea
/.idea
# But keep codeStyleSettings.xml
!/.idea/codeStyleSettings.xml
